{:server/http {:io.pedestal.http/routes #ig/ref :pedestal/routes
               :io.pedestal.http/type   :jetty
               :io.pedestal.http/port   8890
               :io.pedestal.http/resource-path "/public"
               :io.pedestal.http/secure-headers {:content-security-policy-settings {:object-src "'none'"}}}

 :server/http-dev
    {:io.pedestal.http/routes #ig/ref :pedestal/routes
     :io.pedestal.http/type   :jetty
     :io.pedestal.http/port   8890
     :io.pedestal.http/resource-path "/public"
     :io.pedestal.http/secure-headers {:content-security-policy-settings {:object-src "'none'"}}
     :io.pedestal.http/join? false}

 :pedestal/routes {:db-connection #ig/ref :datomic/connection}

 :datomic/connection
  {:client {:server-type :peer-server
            :access-key "myaccesskey"
            :secret "mysecret"
            :endpoint "localhost:8998"}
   :db-name "hello"}}
