.zot, .red, .blue, .none {
  stroke-width: 15;
  stroke-opacity: 0;
}

.red {
  fill: #FF4317;
}

.blue {
  fill: #6137BC;
}

.none {
  fill: #808080;
}

.hover_group:hover {
  opacity: 0.5;
}

.score-board {
  display: inline;
}

.blue_wall, .red_wall {
  stroke-width: 3;
}

.blue_wall {
  fill: #6137BC;
}

.red_wall {
  fill: #FF4317;
}

.surrounded {
  opacity: 0.5;
}

.red_surrounded {
  opacity: 0.5;
}

#app {
  max-width: 500px;
  margin: auto;
}
