.zot, .red, .blue, .none {
  stroke-width: 15;
  stroke: white;
}

.red {
  fill: #FF4317;
}

.blue {
  fill: #6137BC;
}

.none {
  fill: #808080;
  color: #808080;
}

.text, .score-board .long-text {
  font-family: 'Lato', sans-serif;
}

.red_turn, .blue_turn, .none {
  font-size: 40px;
  font-weight: bold;
}

.red_turn {
  color: #FF4317;
}

.blue_turn {
  color: #6137BC;
}

.hover_group:hover {
  opacity: 0.5;
}

.score-board {
  float: right;
  padding-right: 400px;
  height: 60px;
}

.score-board .text {
  font-size: 40px;
}

.score-board .long-text {
  font-size: 25px;
}

.score-board .red {
  stroke: none;
}

.score-board .blue {
  stroke: none;
}

.blue_play_button:hover {
  cursor: pointer;
}

.blue_wall, .red_wall {
  stroke-width: 3;
}

.empty_slot {
  stroke-dasharray: 5, 5;
}

.blue_wall {
  fill: #6137BC;
}

.red_wall {
  fill: #FF4317;
}

.surrounded {
  opacity: 0.5;
}

.red_surrounded {
  opacity: 0.5;
}

#app {
  max-width: 1000px;
  margin: auto;
}

.board .passive {
  opacity: 0.5;
}

.notification-box {
  background-color: lightyellow;
  width: 580px;
  text-align: center;
  height: 20px;
}
