#Simple way: nohup ./datomic-pro-0.9.5697/bin/run -m datomic.peer-server -h localhost -p 8998 -a zotsdbpeer,KaUeAxrCvPkT2Z2N -d zots-db,datomic:ddb://ap-southeast-1/zots/zots-db &

#Advanced way: nohup java -server -Xmx400M -Xms400M -cp resources:lib/*:datomic-transactor-pro-0.9.5697.jar:samples/clj:bin: clojure.main -i bin/bridge.clj -m datomic.peer-server -h localhost -p 8998 -a zotsdbpeer,KaUeAxrCvPkT2Z2N -d zots-db,datomic:ddb://ap-southeast-1/zots/zots-db &
